{{!
  Input for a Factory. Exemplar: authentication-domain CreateOrUpdateBlockedAudienceRequest.
  Target: <capability>-domain/src/main/java/<package path>/domain/Create<Name>Request.java
  Vars:   package, Name, fields[type, name]
}}
package {{package}}.domain;

import lombok.Builder;
import lombok.EqualsAndHashCode;
import lombok.Getter;

@Builder
@Getter
@EqualsAndHashCode
public class Create{{Name}}Request {
{{#fields}}
    private {{{type}}} {{name}};
{{/fields}}
}
