{{!
  Static, field-explicit domain to DTO mapper (no MapStruct). Exemplar: account-adapter DelegationToDTOMapper.
  Target: <capability>-adapter/src/main/java/<package path>/adapter/controller/<Domain>ToDTOMapper.java
  Vars:   package, Domain, domain (camelCase), record (bool: domain is a record),
          fields[name, pascal]
}}
package {{package}}.adapter.controller;

import {{package}}.domain.{{Domain}};
import lombok.AccessLevel;
import lombok.NoArgsConstructor;

@NoArgsConstructor(access = AccessLevel.PRIVATE)
public class {{Domain}}ToDTOMapper {

    static {{Domain}}DTO map({{Domain}} {{domain}}) {
        return {{Domain}}DTO.builder()
{{#fields}}
                .{{name}}({{domain}}.{{#record}}{{name}}{{/record}}{{^record}}get{{pascal}}{{/record}}())
{{/fields}}
                .build();
    }
}
