{{!
  Aggregate built from a Create-request and validated into a Notification (never throws).
  Exemplar: authentication-domain BlockedAudience. Pair with create-request + factory.
  Target: <capability>-domain/src/main/java/<package path>/domain/<Name>.java
  Vars:   package, basePackage (root holding common/), Name, fields[type, name, pascal]
  Use StringValidator.notBlank instead of ObjectValidator.notNull for String fields.
}}
package {{package}}.domain;

import {{basePackage}}.common.domain.validation.Notification;
import {{basePackage}}.common.domain.validation.ObjectValidator;
import lombok.*;

import java.io.Serializable;

@Getter
@Builder
@EqualsAndHashCode
@AllArgsConstructor(access = AccessLevel.PACKAGE)
public class {{Name}} implements Serializable {
{{#fields}}
    private final {{{type}}} {{name}};
{{/fields}}

    {{Name}}(Create{{Name}}Request request) {
{{#fields}}
        this.{{name}} = request.get{{pascal}}();
{{/fields}}
    }

    Notification validate() {
        var notification = Notification.empty();
{{#fields}}
        ObjectValidator.notNull("{{name}}", {{name}}, notification);
{{/fields}}
        return notification;
    }
}
